REDIS_PASSWORD="password"
REDIS_HOST="redis"
REDIS_PORT="6379"
LLM_PATH="/models/name_of_the_model_file.gguf" # Path to the hf model, it might be a single file or a directory depending on what you pulled from huggingface_hub
LLM_MAX_SEQUENCE_LENGTH="16384"
LLM_DTYPE="bfloat16"
LLM_PORT="8000"
LLM_HOST="llm"
LLM_TIMEOUT="600"
LLM_RETRIES="1"
LLM_MAX_TOKENS="100"
LOCAL_STORAGE="/app/storage.json"

HF_REPO_ID="t-tech/T-pro-it-2.0-AWQ" # Repo ID from https://huggingface.co
HF_REPO_FILE="" # Specify the file name of neural model to use
HF_REPO_DIR="" # Specify the directory name of neural model to use. Some LLMs on huggingface_hub split into several files

#These environment variables are used for hugging_face.hub to download AI models.
#You can ignore these if you already have a neural network file with trained weights.
#HF_ENDPOINT=https://hf-mirror.com 
#HF_HUB_ENABLE_HF_TRANSFER=0 
